[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
google-images-download = "*"

[packages]
flask = "*"
numpy = "==1.15.4"
pillow = "*"
tensorflow = "==1.14.0"
keras = "==2.2.4"

[requires]
python_version = "3.7"
